.notification {
    width: 100%;
    top: -10px;
    position: fixed;
    z-index: 100000000;
    height: 100%;
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    visibility: hidden;
}
    
/* .notification.active {
    backdrop-filter: blur(20px);
    visibility: visible;
    } */

.notification .notifBox {
    visibility: visible;
    max-width: 400px;
    border-radius: 5px;
    padding: 10px 0 0 0;
    height: 120px;
    background-color: rgb(168, 177, 255);
    margin: 0 17px 0 0; 
    color: blue;
    justify-content: center;
    transform: translateY(-250px);
    text-align: center;
    transition: .4s ease-out;
}

.notifBox.active {
    transform: translateY(50px);
}

.notifButton {
    display: flex;
    justify-content: end;
}

.notifButton .okNotifBtn {
    background-color: blue;
    padding: 8px 12px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin:  -12px 10px 0 0;
}