.slideRadio {
    display: flex;
    margin-top: 15px;
}

.switch {
    display: flex;
    position: absolute;
    width: 44px;
    height: 24px;
}

.slider {
    border: 2px solid rgb(255, 255, 255);
    /* display: inline-block; */
    cursor: pointer;
    position: absolute;
    background-color: #fff;
    inset: 0;
    border-radius: 100px;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 0 10px 3px black
}

.slider::before {
    border-radius: 50%;
    position: absolute;
    background-color: #000000;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider::before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}